<div id="listcontainer">
    <ion-list>
        <ion-item>
            <ion-label>Bolo - Pago U</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Jery - Pago Internet</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Sara - McDonalds</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Beatriz - Papel Higienico</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Bolo - Arriendo</ion-label>
        </ion-item>
    </ion-list>
</div>